<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a> <!-- Line 11: The parenthesis () are not angular syntax. It is only
           being printed as part of the text.
           The command ({{ ingredient.amount }}) uses string interpolation in-between
           parenthesis-->
    </ul>
  </div>
</div>
