<body>

  <header>
      <div class="container">
        <div class="logo">CynIn</div>

        <nav>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <ng-template [ngIf]="!isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>

        <li><a
          routerLink="/logout"
          (click)="onLogout()"
          *ngIf="isAuthenticated()">Logout</a></li>
          </ul>

        </nav>
      </div>
    </header>

</body>
