$primary: #2b2d42 !default;
$primaryVariant: #8d99ae !default;
$alternative: #edf2f4 !default;
$secondary: #b3d89c !default;
$secondaryVariant: #d0efb1 !default;

body {
  background: $secondaryVariant;
}

.startTime {
  background: $primary;
  width: 20vw;
  height: 6vh;
  border-radius: 30px;
  font-size: 2em;
  color: $alternative;
}

.endTime{
  background: $primary;
  width: 20vw;
  height: 6vh;
  border-radius: 30px;
  font-size: 2em;
  color: $alternative;
}

.clock {
  font-size: 4em;
}
