<!--
  Purpose: Display list of events
  Description: Will display event title. Will give more details on event when clicked
-->

<!--
Event List displays list of events
 -->
 <!--
Event Detail displays more detail about selected  a event (Event Detail)
 -->

<div class="row">
  <div class="container-list">
    <app-event-list></app-event-list>
  </div>

  <div class="container-detail">
    <app-event-detail
      *ngIf="selectedEvent; else infoText"
      [event]="selectedEvent"></app-event-detail>
      <ng-template #infoText>
        <h1>Please select an Event</h1>
      </ng-template>
  </div>
</div>
