<!--
  Purpose: Display list of members
  Description: Will display member's name and time they signed in.
-->

<!-- <div               NOTE: Real Stuff Line 14 through 18 is for testing without database
  class="member-container"
  *ngFor="let member of members">
    <div class="member-details">
      {{ member.name }} <span class="member-time">{{ member.startTime }}:{{ member.endTime }}</span>
    </div>
</div> -->
<div
  class="user-container">
    <div class="user-details">
      Emmanuel Esgae <span class="user-time">10:00 PM</span>
    </div>
</div>







<!--  The gud stuff

<!-- ADD YOUR INGREDIENT HERE <input type="text" [(ngModel)]="item" > -->


<!-- <button (click)="login()" class="login">Login</button> -->

  <!-- <li *ngFor = "let user of user.glist">
    {{user}}
  </li> -->
  <!-- <button (click)="addToList()">Add</button>
  <button (click)="onSave()">Save</button>
  <br><br><br><br><br>
  <button (click)="onFetch()">Fetch</button>
  <button (click)="logout()">LOG OUT</button> -->

  <!--
  <button (click)="onFetch()">Fetch</button>
    this is the fetch button that is no longer needed because we are fetching automatically
    in the constructor it's the line that says this.fetch() if this isnt clear your retarted
-->

 -->
