<!DOCTYPE html>
<html>

  <head>
    <title>Recipe-Book</title>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-firestore.js"></script>
  </head>

  <body>
    <app-header (featureSelected)="onNavigate($event)"></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>

</html>
